
/*стилизация поля ввода, при ошибке*/
.error {
     border-color: #ef079b;
     box-shadow: 0 0 3px #ff0000; 
   
}

/*стилизация сообщения об ошибке*/


/*внешний контейнер для поля ввода*/
.form-group {
   width: 30%;

      /* Относительно позиционированный элемент сдвигается со своего обычного 
       места в разных направлениях относительно границ родительского 
       контейнера, а пространство, которое он занимал, не исчезает. 
       При этом такой элемент может перекрывать другое содержимое 
       на странице. */
   position: relative;
}




label.error{
    width: 100%;
    display: block; /*Элемент генерирует структурный блок, как и тег <div>.*/
   
    padding-left: 25px;
    margin-left: 25px;
    
     color: #f9066b;
     margin-top: 0.5%;
     font-style:italic;
     font-weight:300;
     padding: 0.3% 0.3% 0.3% 0.3%;
     font-size: 12px; 
     border-radius: 4px; /*загругление углов контейнера для ошибок*/
     box-shadow: 0 0 3px #1023a2; /*тень вокруг контейнера для ошибок*/

        /*  Абсолютно позиционированный элемент полностью удаляется из 
        потока документа и позиционируется относительно границ его 
        блока-контейнера (другого элемента или окна браузера).*/
    position: absolute;
    top: 40%;
    left: 100%;
     z-index: 1;
}


/*контейнер для общих ошибок*/
.messageForCommonError {
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #caf4fe;
    color: #ff0000;
    text-align: center;
    font-size: 15px;
    font-style: italic;

}

/* используем псевдокласс 'empty', если в контейнере пока
    нет никаких данных (то есть данные еще не сгенерированы)*/
.messageForCommonError:empty{
    display: none; /*Элемент не генерирует никакой контейнер, полностью удаляясь со страницы.*/
}

.valid{
    box-shadow: 0 0 3px #37e309; /*тень вокруг контейнера для првоеренных данных*/
}

-label.error{
     
     color: #f9066b;
     margin-top: 0.5%;
     font-style:italic;
     font-weight:300;
     padding: 0.3% 0.3% 0.3% 0.3%;
     font-size: 12px; 
     border-radius: 4px; /*загругление углов контейнера для ошибок*/
     box-shadow: 0 0 3px #1023a2; /*тень вокруг контейнера для ошибок*/

}

